<section aria-labelledby="feature-one">
  <h2 class="sr-only" id="feature-one">Header</h2><div
    class="mx-auto 2xl:max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:pt-24 relative w-full">
    <div class="lg:mx-auto lg:text-center">
      <div class="mt-2">
        
          <span class="text-ezgreen3 font-black   italic px-2 uppercase tracking-tight  xl:text-8xl">
          Higher </span>  <span
          class="text-white font-black  italic tracking-tight uppercase xl:text-8xl"
          >
          Revenue<br> </span>
          <span class="bg-gradient-to-r from-oggreen to-ezgreen3 text-transparent bg-clip-text font-black uppercase tracking-tight xl:text-8xl italic px-2">
          Better</span><span
          class="text-white font-black italic tracking-tight uppercase xl:text-8xl"
          >
          Content<br> </span><span class="bg-gradient-to-r from-oggreen to-ezgreen3 text-transparent bg-clip-text font-black  italic px-2 tracking-tight uppercase xl:text-8xl">
          More</span><span class="text-white font-black italic  px-2 tracking-tight uppercase xl:text-8xl"> 
          Traffic</span><div class="mt-6">
          <h1 class="font-display inline-block text-2xl tracking-tight text-white/80">
            Access the best forms of monetization, streamline content
             creation, or <br> grow faster than anyone thought was possible using A.I. 
            </h1></div>
    
        
        <div class="inline-flex flex-wrap items-center gap-2 mt-6 lg:gap-12">
        
            <button type="button" class="flex items-center gap-x-1 text-md font-semibold leading-6 px-4 py-3 rounded  bg-ezgreen2/0 text-white/90 border-2 border-ezgreen3/70 hover:text-black hover:bg-ezgreen3/75">
            
             Start Free Trial </button> </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
