<section aria-labelledby="hero-three" class="">
  <h2 class="sr-only" id="hero-three">Hero-three</h2>
  <div
    class="px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 items-center">
      <div>
        <span class="text-white">Hero three</span>
        <h2
          class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto">
          buio's. newsletter for the industry
        </h2>
        <p class="mt-5 font-light text-zinc-400 text-xl">
          Subscribe to our newsletter and get the latest insights within charts
          and API recommendation
        </p>
        <p class="mt-5 font-light text-zinc-400 text-xl">
          Build a unique experience by mixing and matching components, just like
          I mentioned before.
        </p>
        <form
          action=""
          method="post"
          id="revue-form"
          name="revue-form"
          target="_blank"
          class="p-2 mt-8 transition duration-500 ease-in-out transform lg:border border-zinc-700 lg:bg-dark rounded-xl lg:rounded-full sm:max-w-lg sm:flex">
          <div class="flex-1 min-w-0 border-b lg:border-0 border-zinc-700">
            <label for="member_email" class="sr-only">Email address</label>
            <input
              autofocus
              id="cta-email"
              type="email"
              class="block w-full px-5 py-3 text-base placeholder-zinc-500 transition duration-500 ease-in-out transform bg-transparent border border-transparent rounded-2xl lg:rounded-full text-neutral-600 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
              placeholder="Enter your best email..."
            />
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-3 revue-form-actions">
            <button
              type="submit"
              value="Subscribe"
              name="member[subscribe]"
              id="member_submit"
              class="px-6 py-3 mt-2 w-full lg:w-auto text-xs text-white hover:text-white transition duration-500 ease-in-out transform bg-zinc-700 rounded-full lg:text-base lg:mt-0 hover:bg-zinc-600 focus:ring-2 focus:ring-white focus:ring-offset-4"
              >Subscribe me</button
            >
          </div>
        </form>
      </div>

      <div class="mt-12 lg:mt-0 lg:ml-auto">
        <div class="l max-w-[366px] aspect-[366/729]">
          <img
            class="rounded-[3.80rem] shadow-superThick"
            src="/images/placeholders/newsletter.png"
            alt="#"
          />
        </div>
      </div>
    </div>
    <div class="pt-12">
      <div class="py-12 mx-auto lg:max-w-7xl">
        <h2 class="sr-only">
          This title is for accessibility only, make it descriptive, Jhonny
        </h2>
        <div>
          <dl
            class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:space-y-0 lg:gap-24">
            <div>
              <dt>
                <p
                  class="text-lg font-medium leading-6 text-white font-display">
                  Integrations
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                From the merits of Full Site Editing to the rise of Digital
                Experience Platforms and marketing automation. Hear from some of
                the most respected technologists.
              </dd>
            </div>
            <div>
              <dt>
                <p
                  class="text-lg font-medium leading-6 text-white font-display">
                  Premade pages
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                Get early access to whitepapers published by Altis and other
                digital experience leaders. Learn about driving meaningful
                customer experiences.
              </dd>
            </div>
            <div>
              <dt>
                <p
                  class="text-lg font-medium leading-6 text-white font-display">
                  A Comprehensive styleguide
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                Unbiased analysis from across the industry on topics such as
                personalisation, machine learning, and using AI technologies to
                know your audience.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
