<header aria-labelledby="hero-two " class="overflow-hidden relative">
  <h2 class="sr-only" id="hero-two">Feature five</h2>
  <div
    class="items-center w-xl px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl py-12 lg:py-24">
    <div class="relative mx-auto max-w-7xl sm:static">
      <div class="sm:max-w-lg">
        <div>
          <span class="text-white">Header two</span>
          <h2
            class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto">
            Prebuilt pages for your project
          </h2>
          <p class="mt-5 font-light text-zinc-400 text-xl">
            Build a unique experience by mixing and matching components, just
            like I mentioned before.
          </p>
          <div class="inline-flex flex-wrap items-center gap-3 mt-8 lg:gap-12">
            <div
              class="p-0.5 rounded-full bg-rainbowBg cursor-pointer shadow-thick hover:shadow-none transition duration-500 ease-in-out transform">
              <a
                href="/overview"
                type="a"
                class="inline-flex items-center w-full px-6 lg:px-12 py-4 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 lg:w-auto focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
                Explore all pages
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-10">
          <div
            aria-hidden="true"
            class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
            <div
              class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div
                class="flex items-center space-x-6 lg:space-x-8 overflow-y-hidden relative px-4">
                <div
                  class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8 animate-scroller whitespace-nowrap">
                  <div
                    class="lg:w-[19rem] rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartOne.png"
                      alt="#"
                    />
                  </div><div
                    class="lg:w-[19rem] rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartTwo.png"
                      alt="#"
                    />
                  </div><div
                    class="lg:w-[19rem] rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartThree.png"
                      alt="#"
                    />
                  </div>
                  <div class="lg:w-[19rem] rounded-xl shadow-superThick">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartFour.png"
                      alt="#"
                    />
                  </div>
                  <div class="lg:w-[19rem] rounded-xl shadow-superThick">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartOne.png"
                      alt="#"
                    />
                  </div>
                  <div class="lg:w-[19rem] rounded-xl shadow-superThick">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartTwo.png"
                      alt="#"
                    />
                  </div>
                </div>
                <div
                  class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8 animate-scroller2 whitespace-nowrap">
                  <div class="lg:w-[19rem] rounded-xl shadow-superThick">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartThree.png"
                      alt="#"
                    />
                  </div><div class="lg:w-[19rem] rounded-xl shadow-superThick">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartFour.png"
                      alt="#"
                    />
                  </div><div class="lg:w-[19rem] rounded-xl shadow-superThick">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartOne.png"
                      alt="#"
                    />
                  </div>
                  <div class="lg:w-[19rem] rounded-xl shadow-superThick">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartTwo.png"
                      alt="#"
                    />
                  </div>
                  <div class="lg:w-[19rem] rounded-xl shadow-superThick">
                    <img
                      class="rounded-xl h-full w-full object-cover object-center"
                      src="/images/placeholders/ChartThree.png"
                      alt="#"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
