<section class="h-screen items-center justify-center flex">
  <div class="relative px-8  md:px-12">
    <div class="w-full mx-auto  max-w-3xl">
      <div class="flex  text-left">
        <p class="text-5xl lg:text-14xl text-white font-display font-bold mb-12">
          Shit
        </p>
        <p class="text-2xl font-semibold text-white pl-8 my-auto mt-6">
          <span>Tyler got rid of someting shitty but it still shows up as linked where you clicked.</span> Don't worry. It's gone because it sucked. Try sumtin else....
        </p>
      </div>
      <div class="mx-auto w-3/4 mb-12">
       
          <a
            href="/overview"
            type="a"
            class="mx-auto p-2 mt-10 text-center text-black transition duration-500 ease-in-out transform rounded-md bg-ezgreen1 border border-ezgreen3 hover:border-ezgreen1 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-black hover:text-white hover:bg-black">
            &larr; &nbsp; Go home
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
