<section aria-labelledby="faq-one">
  <h2 class="sr-only" id="feature-one">faq one</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <span class="text-white">Faq One</span>
    <h2
      class="text-5xl font-semibold leading-none mt-6 text-white font-display">
      Frequently asked questions
    </h2>
    <div class="mt-8">
      <dl class="divide-y divide-white/10">
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt
            class="text-lg font-medium leading-6 text-white font-display md:col-span-5">
            Can we create charts and share them?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-zinc-400">
              Sure, go ahead and share as many charts as you need to share. As
              long as you are happy, we are happy.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt
            class="text-lg font-medium leading-6 text-white font-display md:col-span-5">
            Can I top up my account?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-zinc-400">
              Sure, we love money, bring it on baby.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt
            class="text-lg font-medium leading-6 text-white font-display md:col-span-5">
            Do your charts work for real?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-zinc-400">
              Sure, you saw the placeholder images...
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt
            class="text-lg font-medium leading-6 text-white font-display md:col-span-5">
            Do I need apply for the APIs?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-zinc-400">
              Well, unless you want to get sued we recommend you go ahead and
              apply Jhonny.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt
            class="text-lg font-medium leading-6 text-white font-display md:col-span-5">
            Can Buio pay for my rent this month?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-zinc-400">
              Unless you ceate a superb product and use the template,...
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt
            class="text-lg font-medium leading-6 text-white font-display md:col-span-5">
            What do you mean with unlimited users?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-zinc-400">
              Well, unlimited means unlimted, bring your team, family, neighbors
              and you name it.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt
            class="text-lg font-medium leading-6 text-white font-display md:col-span-5">
            What do you mean with unlimited users?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-zinc-400">
              In that case, you will have to go with the compentece, we are very
              proud of our charts.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt
            class="text-lg font-medium leading-6 text-white font-display md:col-span-5">
            Is hosting included?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-zinc-400">
              What has hosting to do with charts? Any ways, yes it is.
            </p>
          </dd>
        </div>

        <!--Add more questions here unless you don't give a FAQ ... -->
      </dl>
    </div>
  </div>
</section>
