<section aria-labelledby="faq-two">
  <h2 class="sr-only" id="feature-two">faq two</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div>
      <span class="text-white">Faq Two</span>
      <h2
        class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display">
        Frequent questions and answers
      </h2>
      <p class="mt-5 font-light text-zinc-400 text-xl">
        Let's find the answers to your questions.
      </p>
    </div>
    <div class="w-full mx-auto text-left mt-12">
      <ul
        role="list"
        class="grid sm:grid-cols-2 gap-4 list-none lg:grid-cols-3">
        <li>
          <div>
            <p
              class="text-lg font-medium leading-6 text-white font-display mt-5">
              Can we create charts and share them?
            </p>
          </div>
          <div class="mt-2 text-base text-zinc-400">
            Sure, go ahead and share as many charts as you need to share. As
            long as you are happy, we are happy.
          </div>
        </li>
        <li>
          <div>
            <p
              class="text-lg font-medium leading-6 text-white font-display mt-5">
              Can I top up my account?
            </p>
          </div>
          <div class="mt-2 text-base text-zinc-400">
            Sure, we love money, bring it on baby.
          </div>
        </li>
        <li>
          <div>
            <p
              class="text-lg font-medium leading-6 text-white font-display mt-5">
              Do your charts work for real?
            </p>
          </div>
          <div class="mt-2 text-base text-zinc-400">
            Sure, you saw the placeholder images...
          </div>
        </li>
        <li>
          <div>
            <p
              class="text-lg font-medium leading-6 text-white font-display mt-5">
              Do I need apply for the APIs?
            </p>
          </div>
          <div class="mt-2 text-base text-zinc-400">
            Well, unless you want to get sued we recommend you go ahead and
            apply Jhonny.
          </div>
        </li>
        <li>
          <div>
            <p
              class="text-lg font-medium leading-6 text-white font-display mt-5">
              What do you mean with unlimited users?
            </p>
          </div>
          <div class="mt-2 text-base text-zinc-400">
            Well, unlimited means unlimted, bring your team, family, neighbors
            and you name it.
          </div>
        </li>
        <li>
          <div>
            <p
              class="text-lg font-medium leading-6 text-white font-display mt-5">
              What do you mean with unlimited users?
            </p>
          </div>
          <div class="mt-2 text-base text-zinc-400">
            In that case, you will have to go with the compentece, we are very
            proud of our charts.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
