<section aria-labelledby="pricing-two">
  <h2 class="sr-only" id="pricing-two">Pricing two</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div>
      <div class="lg:col-span-2">
        <span class="text-white">Pricing Two</span>
        <h1
          class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display">
          Simple pricing for everyone
        </h1>
      </div>
    </div>

    <div class="pb-12 mt-8 sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
      <div class="items-center w-full mx-auto">
        <div
          class="px-5 overflow-hidden border border-zinc-700 shadow-superThick rounded-3xl divide-y divide-zinc-700 lg:px-0">
          <div class="flex flex-wrap items-end justify-start w-full">
            <div class="w-full xl:w-1/4 md:w-1/4">
              <div
                class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                <h2
                  class="text-sm uppercase text-white font-display lg:text-2xl">
                  Hobby
                </h2>
                <ul class="space-y-4 mt-6">
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Messaging
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Team meetings.
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>5 TB cloud storage.
                  </li>
                </ul>
              </div>
            </div>
            <div class="w-full xl:w-1/4 md:w-1/4">
              <div
                class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                <ul class="space-y-4 mt-6">
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Growth oriented.
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Marketing campaigns.
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Custom pages.
                  </li>
                </ul>
              </div>
            </div>
            <div class="w-full xl:w-1/4 md:w-1/4">
              <div
                class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                <ul class="space-y-4 mt-6">
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Support 24/7.
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Pizza on Sundays
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Debugger
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="order-first w-full xl:w-1/4 md:w-1/4 lg:ml-auto lg:order-last lg:border-l border-zinc-700">
              <div
                class="relative flex flex-col h-full px-4 py-6 lg:py-8 lg:px-8">
                <strong
                  class="flex items-end text-6xl font-semibold leading-none text-white font-display lg:text-4xl lg:mx-auto">
                  <span>$10</span>
                </strong>

                <div
                  class="p-0.5 rounded-full bg-silverBg cursor-pointer transition duration-500 ease-in-out transform mt-8 lg:mt-3">
                  <a
                    href="/overview"
                    type="a"
                    class="inline-flex items-center w-full px-6 lg:px-12 py-2.5 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
                    Get started
                  </a>
                </div>
                <p class="lg:mx-auto mt-6 text-xs text-zinc-400 mb-12 lg:mb-0">
                  Only once within 6 months
                </p>
              </div>
            </div>
          </div>
          <div
            class="flex flex-wrap items-end justify-start w-full lg:bg-dark rounded-2x lg:rounded-none">
            <div class="w-full xl:w-1/4 md:w-1/4">
              <div
                class="relative flex flex-col h-full px-4 py-6 lg:py-8 lg:px-8">
                <h2
                  class="text-sm uppercase text-white font-display lg:text-2xl">
                  Startup
                </h2>
                <ul class="space-y-4 mt-6">
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Messaging
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Team meetings.
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>5 TB cloud storage.
                  </li>
                </ul>
              </div>
            </div>
            <div class="w-full xl:w-1/4 md:w-1/4">
              <div
                class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                <ul class="space-y-4 mt-6">
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Growth oriented.
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Marketing campaigns.
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Custom pages.
                  </li>
                </ul>
              </div>
            </div>
            <div class="w-full xl:w-1/4 md:w-1/4">
              <div
                class="relative flex flex-col h-full px-4 py-0 lg:py-8 lg:px-8">
                <ul class="space-y-4 mt-6">
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Support 24/7.
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Pizza on Sundays
                  </li>
                  <li class="flex items-center mb-2 text-sm text-zinc-400">
                    <span
                      class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-sky-300"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>Debugger
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="order-first w-full mt-12 xl:w-1/4 md:w-1/4 lg:ml-auto lg:mt-0 lg:order-last lg:border-l border-zinc-700">
              <div
                class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                <strong
                  class="flex items-end text-6xl font-semibold leading-none text-white font-display lg:text-4xl lg:mx-auto">
                  <span>$50</span>
                </strong>

                <div
                  class="p-0.5 rounded-full bg-rainbowBg cursor-pointer transition duration-500 ease-in-out transform mt-8 lg:mt-3">
                  <a
                    href="/overview"
                    type="a"
                    class="inline-flex items-center w-full px-6 lg:px-12 py-2.5 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
                    Get started
                  </a>
                </div>
                <p class="lg:mx-auto mt-6 text-xs text-zinc-400 mb-12 lg:mb-0">
                  Only once within 6 months
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
