<section aria-labelledby="pricing-seven">
  <h2 class="sr-only" id="pricing-seven">Pricing seven</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="lg:text-center max-w-xl lg:mx-auto">
      <span class="text-white">Pricing Seven</span>
      <h2
        class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center">
        Building blocks for your next website
      </h2>
    </div>
    <div class="grid grid-cols-1 gap-12 text-center lg:grid-cols-3">
      <div>
        <div class="p-12 mx-auto">
          <p>
            <span
              class="mx-auto text-3xl font-medium leading-6 text-white font-display">
              Hobby
            </span>
          </p>
          <p class="mx-auto mt-12 text-base text-zinc-400">
            The issue tracking tool you'll enjoy using.Helps streamline software
            projects, sprints, tasks, and bug tracking. It’s built for
            high-performance teams.
          </p>
          <p class="mt-12">
            <span class="text-4xl font-extrabold text-white lg:text-6xl"
              >FREE</span
            >
          </p>
          <div class="mt-6">
            <div
              class="p-0.5 rounded-full bg-silverBg cursor-pointer transition duration-500 ease-in-out transform mt-8">
              <a
                href="/overview"
                type="a"
                class="inline-flex items-center w-full px-6 lg:px-12 py-2.5 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
                Get started
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="p-12 mx-auto">
          <p>
            <span
              class="mx-auto text-3xl font-medium leading-6 text-white font-display">
              Starter
            </span>
          </p>
          <p class="mx-auto mt-12 text-base text-zinc-400">
            The issue tracking tool you'll enjoy using.Helps streamline software
            projects, sprints, tasks, and bug tracking. It’s built for
            high-performance teams.
          </p>
          <p class="mt-12">
            <span class="text-4xl font-extrabold text-white lg:text-6xl"
              >$15</span
            >
            <span class="text-base font-medium text-zinc-400">/mo</span>
          </p>
          <div class="mt-6">
            <div
              class="p-0.5 rounded-full bg-silverBg cursor-pointer transition duration-500 ease-in-out transform mt-8">
              <a
                href="/overview"
                type="a"
                class="inline-flex items-center w-full px-6 lg:px-12 py-2.5 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
                Get started
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="p-12 mx-auto">
          <p>
            <span
              class="mx-auto text-3xl font-medium leading-6 text-white font-display">
              Mega Pro
            </span>
          </p>
          <p class="mx-auto mt-12 text-base text-zinc-400">
            The issue tracking tool you'll enjoy using.Helps streamline software
            projects, sprints, tasks, and bug tracking. It’s built for
            high-performance teams.
          </p>
          <p class="mt-12">
            <span class="text-4xl font-extrabold text-white lg:text-6xl"
              >$35</span
            >
            <span class="text-base font-medium text-zinc-400">/mo</span>
          </p>
          <div class="mt-6">
            <div
              class="p-0.5 rounded-full bg-rainbowBg cursor-pointer transition duration-500 ease-in-out transform mt-8">
              <a
                href="/overview"
                type="a"
                class="inline-flex items-center w-full px-6 lg:px-12 py-2.5 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
                Get started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
