<section aria-labelledby="pricing-one">
  <h2 class="sr-only" id="pricing-one">Pricing one</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="lg:text-center max-w-xl lg:mx-auto">
      <span class="text-white">Pricing One</span>
      <h2
        class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center">
        Building blocks for your next website
      </h2>
      <p class="mt-5 font-light text-zinc-400 text-xl">
        Or for your next indie project, because your MVP doesn't need to suck.
      </p>
    </div>
    <div
      class="grid max-w-2xl grid-cols-1 -mx-4 gap-y-10 sm:mx-auto lg:-mx-8 lg:max-w-none lg:grid-cols-3 xl:mx-0 xl:gap-x-8 mt-12">
      <section class="flex flex-col px-6 py-8 sm:p-4 lg:order-none">
        <div class="h-full lg:p-8 lg:bg-black rounded-2xl">
          <div class="gap-12 w-full">
            <div>
              <h3 class="text-lg text-white font-display lg:text-2xl">Hobby</h3>
              <p class="mt-2 text-base text-zinc-400">Super for hobbist</p>
            </div>
            <p class="mt-8 text-3xl font-light er text-white">FREE</p>
          </div>
          <div
            class="p-0.5 rounded-full bg-silverBg cursor-pointer transition duration-500 ease-in-out transform mt-8">
            <a
              href="/overview"
              type="a"
              class="inline-flex items-center w-full px-6 lg:px-12 py-2.5 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
              Get started
            </a>
          </div>

          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-zinc-400 gap-y-3">
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> Create 10 charts</span>
            </li>

            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> 10 Api connections</span>
            </li>
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> 1 user</span>
            </li>
          </ul>
        </div>
      </section>
      <section
        class="flex flex-col px-6 py-8 bg-metal border border-zinc-700 shadow-thick rounded-3xl sm:p-4 lg:order-none">
        <div class="h-full lg:p-8 lg:bg-black lg:rounded-2xl">
          <div class="gap-12 w-full">
            <div>
              <h3 class="text-lg text-white font-display lg:text-2xl">
                Almost pro
              </h3>
              <p class="mt-1 text-base text-zinc-400">
                50% off for the 3 first clients!
              </p>
            </div>
            <p class="mt-8 text-3xl font-light text-sky-300">$1,999/m</p>
          </div>
          <div
            class="p-0.5 rounded-full bg-rainbowBg cursor-pointer transition duration-500 ease-in-out transform mt-8">
            <a
              href="/overview"
              type="a"
              class="inline-flex items-center w-full px-6 lg:px-12 py-2.5 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
              Get started
            </a>
          </div>

          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-zinc-400 gap-y-3">
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> Create 10 charts</span>
            </li>

            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> Connect up to two websites</span>
            </li>
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> Email marketing</span>
            </li>
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> 10 Api connections</span>
            </li>
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> 1 user</span>
            </li>
          </ul>
        </div>
      </section>
      <section class="flex flex-col px-6 py-8 sm:p-4 lg:order-none">
        <div class="h-full lg:p-8 lg:bg-black rounded-2xl">
          <div class="gap-12 w-full">
            <div>
              <h3 class="text-lg text-white font-display lg:text-2xl">
                Super pro
              </h3>
              <p class="mt-2 text-base text-zinc-400">Super for hobbist</p>
            </div>
            <p class="mt-8 text-3xl font-light er text-white">FREE</p>
          </div>
          <div
            class="p-0.5 rounded-full bg-silverBg cursor-pointer transition duration-500 ease-in-out transform mt-8">
            <a
              href="/overview"
              type="a"
              class="inline-flex items-center w-full px-6 lg:px-12 py-2.5 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 justify-center focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300">
              Get started
            </a>
          </div>

          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-zinc-400 gap-y-3">
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> Create 100 charts</span>
            </li>

            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> Unlimited websites</span>
            </li>
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> Email marketing</span>
            </li>
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> 100 Api connections</span>
            </li>
            <li class="inline-flex items-center">
              <svg
                aria-hidden="true"
                class="flex-none w-6 h-6 fill-current stroke-current text-zinc-400">
                <path
                  d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
                  stroke-width="0"></path>
                <circle
                  cx="12"
                  cy="12"
                  r="8.25"
                  fill="none"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></circle>
              </svg><span class="ml-4"> Unlimited user</span>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</section>
