<section aria-labelledby="feature-one">
  <h2 class="sr-only" id="feature-one">Feature one</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="lg:text-center max-w-xl lg:mx-auto">
      <span class="text-white">Feature One</span>
      <h2
        class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center">
        Building blocks for your next website
      </h2>
      <p class="mt-5 font-light text-zinc-400 text-xl">
        Or for your next indie project, because your MVP doesn't need to look
        like crap.
      </p>
    </div>
    <div class="pt-12">
      <div class="py-12 mx-auto lg:max-w-7xl">
        <h2 class="sr-only">
          This title is for accessibility only, make it descriptive, Jhonny
        </h2>
        <div>
          <dl
            class="grid grid-cols- gap-12 md:grid-cols-3 lg:space-y-0 lg:gap-24 lg:text-center">
            <div>
              <dt>
                <div
                  class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark lg:mx-auto border border-zinc-700">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-slack"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    aria-hidden="true">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 12v-6a2 2 0 0 1 4 0v6m0 -2a2 2 0 1 1 2 2h-6"
                    ></path>
                    <path d="M12 12h6a2 2 0 0 1 0 4h-6m2 0a2 2 0 1 1 -2 2v-6"
                    ></path>
                    <path d="M12 12v6a2 2 0 0 1 -4 0v-6m0 2a2 2 0 1 1 -2 -2h6"
                    ></path>
                    <path d="M12 12h-6a2 2 0 0 1 0 -4h6m-2 0a2 2 0 1 1 2 -2v6"
                    ></path>
                  </svg>
                </div>
                <p
                  class="mt-4 text-lg font-medium leading-6 text-white font-display">
                  Fully responsive
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                We are in 2022 and if someone offers you a non responsive
                template sweet heart, you are getting scammed.
              </dd>
            </div>
            <div>
              <dt>
                <div
                  class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark lg:mx-auto border border-zinc-700">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-artboard"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    aria-hidden="true">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="8" y="8" width="8" height="8" rx="1"></rect>
                    <line x1="3" y1="8" x2="4" y2="8"></line>
                    <line x1="3" y1="16" x2="4" y2="16"></line>
                    <line x1="8" y1="3" x2="8" y2="4"></line>
                    <line x1="16" y1="3" x2="16" y2="4"></line>
                    <line x1="20" y1="8" x2="21" y2="8"></line>
                    <line x1="20" y1="16" x2="21" y2="16"></line>
                    <line x1="8" y1="20" x2="8" y2="21"></line>
                    <line x1="16" y1="20" x2="16" y2="21"></line>
                  </svg>
                </div>
                <p
                  class="mt-4 text-lg font-medium leading-6 text-white font-display">
                  Easy to customize
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                Change anything with just a few clicks, and when I say anything,
                I mean, anything.
              </dd>
            </div>
            <div>
              <dt>
                <div
                  class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark lg:mx-auto border border-zinc-700">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-medal"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    aria-hidden="true">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 4v3m-4 -3v6m8 -6v6"></path>
                    <path
                      d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z"
                    ></path>
                  </svg>
                </div>
                <p
                  class="mt-4 text-lg font-medium leading-6 text-white font-display">
                  Optimized for SEO
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                With Astro's SEO plugin you can get you SEO on point. Did I said
                SEO?
              </dd>
            </div>
            <div>
              <dt>
                <div
                  class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark lg:mx-auto border border-zinc-700">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-key"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="8" cy="15" r="4"></circle>
                    <line x1="10.85" y1="12.15" x2="19" y2="4"></line>
                    <line x1="18" y1="5" x2="20" y2="7"></line>
                    <line x1="15" y1="8" x2="17" y2="10"></line>
                  </svg>
                </div>
                <p
                  class="mt-4 text-lg font-medium leading-6 text-white font-display">
                  Integrations
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                Buio uses some really useful and top notch integrations with
                Astro. Ask my mom.
              </dd>
            </div>
            <div>
              <dt>
                <div
                  class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark lg:mx-auto border border-zinc-700">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-cloud"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-12">
                    </path>
                  </svg>
                </div>
                <p
                  class="mt-4 text-lg font-medium leading-6 text-white font-display">
                  Premade pages
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                We have pre made a bunch of pages because we know you don't like
                to trade in your time for money.
              </dd>
            </div>
            <div>
              <dt>
                <div
                  class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark lg:mx-auto border border-zinc-700">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-credit-card"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="3" y="5" width="18" height="14" rx="3"></rect>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                    <line x1="7" y1="15" x2="7.01" y2="15"></line>
                    <line x1="11" y1="15" x2="13" y2="15"></line>
                  </svg>
                </div>
                <p
                  class="mt-4 text-lg font-medium leading-6 text-white font-display">
                  A Comprehensive styleguide
                </p>
              </dt>
              <dd class="mt-4 text-base text-zinc-400">
                Only if you speak english fluently, If look into the meaning of
                the title above
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
