<section aria-labelledby="feature-sixteen" class="bg-dark">
  <h2 class="sr-only" id="feature-sixteen">Feature sixteen</h2>
  <div
    class="mx-auto lg:flex px-8 my-12 lg:my-32 md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl py-12"
  >
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky top-0 pt-8 pb-16">
        <div>
          <span class="text-white">Feature sixteen</span>
          <h2
            class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto"
          >
            Prebuilt pages for your project
          </h2>
          <p class="mt-5 font-light text-zinc-400 text-xl">
            Build a unique experience by mixing and matching components, just
            like I mentioned before.
          </p>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="grid flex-shrink-0 grid-cols-1 gap-2">
        <div
          class="rounded-2xl sm:opacity-0 lg:opacity-100 overflow-hidden p-4 lg:p-8 bg-dark border border-zinc-700"
        >
          <div class="mx-auto">
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark shadow-superThick"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-layout-navbar"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                  <line x1="4" y1="9" x2="20" y2="9"></line>
                </svg>
              </div>
              <p
                class="mt-2 lg:mt-0 text-lg font-medium leading-6 text-white font-display"
              >
                100 different sections
              </p>
            </div>
            <p class="mt-4 text-base text-zinc-400">
              Build a unique experience by mixing and matching components. Reuse
              content blocks and make your brand shine.
            </p>
          </div>
        </div>
        <div
          class="rounded-2xl sm:opacity-0 lg:opacity-100 overflow-hidden p-4 lg:p-8 bg-dark border border-zinc-700"
        >
          <div class="mx-auto">
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark shadow-superThick"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-layout-navbar"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                  <line x1="4" y1="9" x2="20" y2="9"></line>
                </svg>
              </div>
              <p
                class="mt-2 lg:mt-0 text-lg font-medium leading-6 text-white font-display"
              >
                30+ Prebuilt pages
              </p>
            </div>
            <p class="mt-4 text-base text-zinc-400">
              Choose from 30+ pages from various categories. Customize, publish
              and instantly see your site live.
            </p>
          </div>
        </div>
        <div
          class="rounded-2xl sm:opacity-0 lg:opacity-100 overflow-hidden p-4 lg:p-8 bg-dark border border-zinc-700"
        >
          <div class="mx-auto">
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark shadow-superThick"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-layout-navbar"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                  <line x1="4" y1="9" x2="20" y2="9"></line>
                </svg>
              </div>
              <p
                class="mt-2 lg:mt-0 text-lg font-medium leading-6 text-white font-display"
              >
                Integrations
              </p>
            </div>
            <p class="mt-4 text-base text-zinc-400">
              buio. comes with more than five Astro integrations
            </p>
          </div>
        </div>
        <div
          class="rounded-2xl sm:opacity-0 lg:opacity-100 overflow-hidden p-4 lg:p-8 bg-dark border border-zinc-700"
        >
          <div class="mx-auto">
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="flex items-center justify-center w-12 h-12 text-zinc-400 rounded-xl bg-dark shadow-superThick"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-layout-navbar"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                  <line x1="4" y1="9" x2="20" y2="9"></line>
                </svg>
              </div>
              <p
                class="mt-2 lg:mt-0 text-lg font-medium leading-6 text-white font-display"
              >
                Comprehensive style guide
              </p>
            </div>
            <p class="mt-4 text-base text-zinc-400">
              Kickstart for every site to get your type, colors, and component
              styles locked in and easy to update as needed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
