<section aria-labelledby="feature-fourteen">
  <h2 class="sr-only" id="feature-fourteen">Feature fourteen</h2>
  <div class="flex">
    <div
      class="flex flex-col justify-center flex-1 px-4 my-8 sm:px-6 lg:flex-none lg:px-24 py-24"
    >
      <div class="w-full mx-auto lg:max-w-6xl">
        <div class="max-w-xl p-10 text-center lg:text-left">
          <div>
            <span class="text-white">Feature fourteen</span>
            <h2
              class="text-3xl lg:text-4xl font-semibold mt-6 text-white font-display lg:mx-auto"
            >
              Prebuilt pages for your project
            </h2>
            <p class="mt-5 font-light text-zinc-400 text-xl">
              Build a unique experience by mixing and matching components, just
              like I mentioned before.
            </p>
          </div>

          <section aria-labelledby="logocloud-three">
            <h2 class="sr-only" id="logocloud-one">logocloud three</h2>
            <div class="py-6">
              <h2 class="font-light text-white text-xs">
                Trusted by industry leaders and our families because we pay
                them:
              </h2>
              <div class="mt-8 flow-root lg:mt-10">
                <div
                  class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4"
                >
                  <div
                    class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0"
                  >
                    <svg
                      width="135"
                      height="48"
                      viewBox="0 0 135 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0 2H29.1427V16.5713H14.5713L0 2ZM0 16.5713H14.5713L29.1427 31.1427H0V16.5713ZM0 31.1427H14.5713V45.714L0 31.1427Z"
                        fill="#ffffff80"></path>
                      <path
                        d="M45.5859 13.4954H57.3659V17.2387H50.0446V22.4407H57.3659V26.1014H50.0446V32.762H45.5859V13.4954ZM59.7879 19.4954H63.9993V22.2754C64.2193 21.32 64.6693 20.5867 65.3479 20.0734C66.0439 19.5407 66.8166 19.2754 67.6599 19.2754C68.1006 19.2754 68.4679 19.3127 68.7606 19.3854V23.294C68.3406 23.2434 67.9179 23.216 67.4946 23.2114C66.3386 23.2114 65.4679 23.5867 64.8799 24.3394C64.2939 25.0734 63.9993 26.174 63.9993 27.6427V32.762H59.7899V19.4954H59.7879ZM75.4086 33.12C74.1246 33.12 73.0046 32.8167 72.0506 32.2114C71.1146 31.606 70.3706 30.7467 69.9039 29.734C69.4086 28.6707 69.1593 27.4674 69.1593 26.1287C69.1593 24.8074 69.4179 23.614 69.9313 22.5507C70.4126 21.5234 71.1766 20.6547 72.1333 20.046C73.1046 19.4407 74.2153 19.1374 75.4639 19.1374C76.3993 19.1374 77.2353 19.34 77.9686 19.7434C78.7019 20.148 79.2526 20.6987 79.6199 21.3947V19.4954H83.8033V32.762H79.6199V30.89C79.2526 31.5507 78.6839 32.0914 77.9133 32.514C77.1426 32.9227 76.2813 33.1307 75.4086 33.12ZM76.6199 29.624C77.6286 29.624 78.4086 29.294 78.9593 28.6334C79.5099 27.9727 79.7853 27.1374 79.7853 26.1287C79.7853 25.138 79.5099 24.312 78.9593 23.6514C78.4086 22.9907 77.6286 22.6607 76.6199 22.6607C75.6646 22.6607 74.8953 22.9814 74.3079 23.624C73.7393 24.2667 73.4546 25.1007 73.4546 26.1287C73.4546 27.1567 73.7393 28 74.3079 28.6607C74.8953 29.3034 75.6659 29.624 76.6199 29.624ZM86.7486 19.4954H90.9599V21.422C91.2546 20.742 91.7306 20.1914 92.3906 19.7707C93.0706 19.35 93.8593 19.1374 94.7579 19.1374C96.8499 19.1374 98.2359 19.9534 98.9139 21.5874C99.2873 20.8467 99.8713 20.234 100.593 19.826C101.365 19.3614 102.252 19.1234 103.153 19.1374C106.291 19.1374 107.859 20.9347 107.859 24.532V32.762H103.621V25.3027C103.621 24.4047 103.455 23.744 103.125 23.3214C102.795 22.9 102.299 22.688 101.639 22.688C100.923 22.688 100.373 22.936 99.9873 23.4314C99.6019 23.9087 99.4093 24.7427 99.4093 25.936V32.762H95.1706V25.2754C95.1706 24.3767 95.0059 23.7247 94.6753 23.3214C94.3646 22.9 93.8773 22.688 93.2179 22.688C92.4833 22.688 91.9233 22.936 91.5379 23.4314C91.1526 23.9087 90.9599 24.7427 90.9599 25.936V32.762H86.7499V19.4954H86.7486ZM123.679 25.4407C123.679 26.0087 123.642 26.624 123.567 27.2847H113.771C113.808 28.1474 114.101 28.8067 114.651 29.2667C115.202 29.7247 115.947 29.9547 116.881 29.9547C118.184 29.9547 119.01 29.5594 119.358 28.7707H123.487C123.284 30.074 122.569 31.128 121.339 31.936C120.129 32.7247 118.642 33.12 116.881 33.12C114.606 33.12 112.817 32.5047 111.513 31.2754C110.229 30.0454 109.587 28.3307 109.587 26.1287C109.587 24.6974 109.88 23.4587 110.467 22.4127C111.035 21.368 111.909 20.5227 112.972 19.9907C114.055 19.4227 115.312 19.1374 116.745 19.1374C118.101 19.1374 119.303 19.4034 120.349 19.936C121.413 20.4687 122.23 21.2114 122.798 22.1654C123.386 23.1207 123.679 24.212 123.679 25.4407ZM119.521 24.67C119.503 23.7894 119.256 23.1187 118.778 22.6607C118.302 22.2027 117.613 21.9727 116.714 21.9727C115.815 21.9727 115.1 22.22 114.567 22.716C114.054 23.1934 113.788 23.844 113.769 24.67H119.521ZM125.536 19.4954H129.747V22.2754C129.967 21.32 130.417 20.5867 131.096 20.0734C131.755 19.5547 132.569 19.2734 133.408 19.2754C133.848 19.2754 134.216 19.3127 134.509 19.3854V23.294C134.089 23.2434 133.666 23.216 133.243 23.2114C132.087 23.2114 131.216 23.5867 130.628 24.3394C130.04 25.0734 129.747 26.174 129.747 27.6427V32.762H125.536V19.4954Z"
                        fill="#ffffff80"></path>
                    </svg>
                  </div>
                  <div
                    class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0"
                  >
                    <svg
                      width="135"
                      height="48"
                      viewBox="0 0 135 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17.43 5C7.79992 5 0 12.7999 0 22.43C0 30.1428 4.98934 36.6572 11.9178 38.9667C12.7893 39.1192 13.1161 38.5963 13.1161 38.1388C13.1161 37.7248 13.0943 36.3522 13.0943 34.8924C8.715 35.6986 7.58205 33.8249 7.23345 32.8444C7.03736 32.3433 6.18765 30.7964 5.44687 30.3824C4.83682 30.0556 3.96532 29.2495 5.42509 29.2277C6.7977 29.2059 7.77814 30.4914 8.10495 31.0143C9.67365 33.6506 12.1792 32.9098 13.1814 32.4522C13.3339 31.3193 13.7915 30.5567 14.2926 30.121C10.4144 29.6852 6.36195 28.1819 6.36195 21.5149C6.36195 19.6194 7.03736 18.0507 8.14852 16.8306C7.97422 16.3949 7.36417 14.6083 8.32282 12.2117C8.32282 12.2117 9.78259 11.7541 13.1161 13.9982C14.5105 13.6061 15.992 13.41 17.4736 13.41C18.9551 13.41 20.4367 13.6061 21.8311 13.9982C25.1646 11.7323 26.6243 12.2117 26.6243 12.2117C27.583 14.6083 26.9729 16.3949 26.7986 16.8306C27.9098 18.0507 28.5852 19.5976 28.5852 21.5149C28.5852 28.2037 24.5109 29.6852 20.6328 30.121C21.2646 30.6657 21.8093 31.7115 21.8093 33.3455C21.8093 35.6768 21.7875 37.5505 21.7875 38.1388C21.7875 38.5963 22.1143 39.141 22.9858 38.9667C26.446 37.7986 29.4527 35.5748 31.5828 32.6083C33.7129 29.6418 34.8591 26.082 34.86 22.43C34.86 12.7999 27.0601 5 17.43 5Z"
                        fill="#ffffff80"></path>
                      <path
                        d="M81.2557 30.843H81.2151C81.2334 30.843 81.2456 30.8633 81.2639 30.8654H81.2761L81.2557 30.845V30.843ZM81.2639 30.8654C81.0748 30.8674 80.5989 30.9671 80.0966 30.9671C78.5105 30.9671 77.9615 30.235 77.9615 29.2793V22.9124H81.1947C81.3777 22.9124 81.5201 22.7497 81.5201 22.526V19.0691C81.5201 18.886 81.3574 18.7234 81.1947 18.7234H77.9615V14.4327C77.9615 14.27 77.8598 14.1683 77.6768 14.1683H73.2844C73.1014 14.1683 72.9997 14.27 72.9997 14.4327V18.8454C72.9997 18.8454 70.7832 19.3944 70.6409 19.4147C70.4782 19.4554 70.3765 19.5978 70.3765 19.7604V22.526C70.3765 22.7497 70.5392 22.9124 70.7222 22.9124H72.9794V29.5822C72.9794 34.544 76.4363 35.0524 78.7952 35.0524C79.873 35.0524 81.1744 34.7067 81.3777 34.605C81.4998 34.5643 81.5608 34.422 81.5608 34.2796V31.2294C81.5636 31.1429 81.5351 31.0582 81.4806 30.991C81.426 30.9238 81.3491 30.8785 81.2639 30.8633V30.8654ZM129.45 26.3896C129.45 22.709 127.965 22.221 126.399 22.3837C125.179 22.465 124.203 23.075 124.203 23.075V30.233C124.203 30.233 125.2 30.9244 126.684 30.965C128.779 31.026 129.45 30.2736 129.45 26.3896ZM134.391 26.0643C134.391 33.0392 132.134 35.032 128.189 35.032C124.854 35.032 123.064 33.3442 123.064 33.3442C123.064 33.3442 122.983 34.2796 122.881 34.4016C122.82 34.5236 122.719 34.5643 122.597 34.5643H119.587C119.384 34.5643 119.201 34.4016 119.201 34.2186L119.242 11.6264C119.242 11.4434 119.404 11.2808 119.587 11.2808H123.919C124.102 11.2808 124.264 11.4434 124.264 11.6264V19.2927C124.264 19.2927 125.932 18.215 128.372 18.215L128.352 18.1743C130.792 18.1743 134.391 19.0894 134.391 26.0643ZM116.659 18.7234H112.389C112.165 18.7234 112.043 18.886 112.043 19.1097V30.172C112.043 30.172 110.924 30.965 109.399 30.965C107.874 30.965 107.427 30.2736 107.427 28.7485V19.0894C107.427 18.9064 107.264 18.7437 107.081 18.7437H102.729C102.546 18.7437 102.384 18.9064 102.384 19.0894V29.4806C102.384 33.9543 104.885 35.0727 108.322 35.0727C111.148 35.0727 113.446 33.5069 113.446 33.5069C113.446 33.5069 113.548 34.3 113.609 34.422C113.649 34.5236 113.792 34.605 113.934 34.605H116.659C116.883 34.605 117.005 34.4423 117.005 34.2593L117.045 19.0691C117.045 18.886 116.883 18.7234 116.659 18.7234ZM68.465 18.703H64.1337C63.9507 18.703 63.788 18.886 63.788 19.1097V34.0356C63.788 34.4423 64.0523 34.5847 64.398 34.5847H68.3023C68.709 34.5847 68.8107 34.4016 68.8107 34.0356V19.0487C68.8107 18.8657 68.648 18.703 68.465 18.703ZM66.3299 11.8298C64.7641 11.8298 63.5236 13.0702 63.5236 14.636C63.5236 16.2018 64.7641 17.4423 66.3299 17.4423C67.855 17.4423 69.0954 16.2018 69.0954 14.636C69.0954 13.0702 67.855 11.8298 66.3299 11.8298ZM99.8623 11.3214H95.5716C95.3886 11.3214 95.2259 11.4841 95.2259 11.6671V19.9841H88.495V11.6671C88.495 11.4841 88.3323 11.3214 88.1493 11.3214H83.818C83.6349 11.3214 83.4723 11.4841 83.4723 11.6671V34.2593C83.4723 34.4423 83.6553 34.605 83.818 34.605H88.1493C88.3323 34.605 88.495 34.4423 88.495 34.2593V24.6002H95.2259L95.1852 34.2593C95.1852 34.4423 95.3479 34.605 95.5309 34.605H99.8623C100.045 34.605 100.208 34.4423 100.208 34.2593V11.6671C100.208 11.4841 100.045 11.3214 99.8623 11.3214ZM61.4901 21.3262V32.9985C61.4901 33.0799 61.4698 33.2222 61.3681 33.2629C61.3681 33.2629 58.8262 35.0727 54.6372 35.0727C49.5738 35.0727 43.575 33.4866 43.575 23.0344C43.575 12.5822 48.8214 10.4267 53.9458 10.447C58.3789 10.447 60.1683 11.4434 60.453 11.6264C60.5344 11.7281 60.575 11.8095 60.575 11.9111L59.721 15.5308C59.721 15.7138 59.538 15.9375 59.3143 15.8765C58.5822 15.6528 57.4841 15.2054 54.9016 15.2054C51.9123 15.2054 48.6994 16.0595 48.6994 22.7904C48.6994 29.5212 51.7497 30.3143 53.9458 30.3143C55.8167 30.3143 56.4877 30.0906 56.4877 30.0906V25.4136H53.4985C53.2748 25.4136 53.1121 25.2509 53.1121 25.0679V21.3262C53.1121 21.1432 53.2748 20.9805 53.4985 20.9805H61.1038C61.3274 20.9805 61.4901 21.1432 61.4901 21.3262Z"
                        fill="#ffffff80"></path>
                    </svg>
                  </div>
                  <div
                    class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0"
                  >
                    <svg
                      width="112"
                      height="48"
                      viewBox="0 0 112 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M111.294 30.5633C106.636 38.4606 99.259 36.1691 97.0435 34.3749C96.1005 35.0147 94.4472 36.417 92.2425 36.255C87.5472 35.9104 85.8659 29.2007 85.8659 29.2007C85.8996 29.2275 84.4672 29.6949 83.6931 29.6866C83.6832 31.6542 81.9823 36.3546 77.3919 36.2945C72.2408 36.2273 71.1936 28.5531 71.1936 28.5531C71.1936 28.5531 70.681 29.2649 68.732 29.9739C68.8301 28.4622 68.7584 36.0644 62.5846 36.1761C57.7038 36.2646 56.3863 28.4348 56.3863 28.4348C56.3863 28.4348 55.5396 29.3143 53.8987 29.6194C54.003 28.0831 53.8334 36.2019 47.6589 36.1761C43.4862 36.1588 42.0603 31.353 42.1712 30.686C42.3127 29.8359 40.761 36.2957 36.7079 36.195C35.0353 36.1459 33.7883 34.9349 33.0059 33.3204C31.9584 34.5189 30.4376 36.195 28.7316 36.195C25.6692 36.195 24.3191 33.6337 24.5477 26.3179C24.5673 25.4502 24.5046 25.109 23.6421 24.9792C23.1243 24.8928 22.5941 24.7292 22.0331 24.643C21.8533 25.243 20.3283 35.9998 15.0842 36.204C13.3249 36.2725 12.363 34.7485 11.573 33.6174C10.362 35.2194 8.76335 36.255 6.486 36.255C2.62834 36.255 0 33.1365 0 29.2895C0 25.4425 2.62834 22.3242 6.486 22.3242C7.16807 22.3242 7.35954 22.422 7.98266 22.6038C6.7012 10.9365 9.72749 9.11303 12.3748 9.11303C14.9164 9.11303 19.2585 15.012 13.1488 29.9751C14.5053 34.4381 17.4296 34.1857 18.8348 24.9982C19.1208 23.1307 18.3561 20.6105 19.5455 20.2588C21.7199 19.616 21.9506 21.5446 22.9701 21.866C24.0481 22.2056 24.6773 22.1724 25.7121 22.3885C27.4805 22.7339 28.1706 23.6838 27.9551 25.7996C27.6964 28.4767 27.2438 32.3732 28.6238 32.8481C29.6189 33.1931 31.4358 31.1293 31.7547 30.0001C32.0734 28.871 32.1399 28.4845 32.1683 27.6563C32.2114 25.8861 32.2655 24.5886 32.5673 23.2499C32.6965 22.7319 32.8438 22.3888 33.4299 22.3654C33.9121 22.3531 34.794 22.2079 35.1823 22.51C35.6997 22.8988 35.635 23.2933 35.5756 24.3316C34.9738 39.1353 39.6056 31.7452 40.9866 25.8279C40.4948 19.1369 40.8324 9.23555 45.0253 9.06949C47.206 8.98313 48.17 10.7301 48.2761 12.034C48.576 15.7168 46.8959 21.8172 44.6864 25.9197C43.4236 34.2907 50.2077 35.9459 51.2926 29.2642C49.5176 28.4202 47.5993 25.0044 49.1603 23.3397C50.0362 22.4055 53.6822 23.7476 53.7419 26.6748C55.5303 26.1965 55.7691 25.1867 55.7939 25.354C55.3023 18.663 55.7583 9.23564 59.9515 9.06957C62.1318 8.98321 63.0957 10.7301 63.2017 12.0341C63.5017 15.7168 61.8216 21.8173 59.6124 25.9199C58.3494 34.2907 65.1336 35.946 66.2182 29.2643C64.9041 29.0107 62.1301 25.3775 63.7306 23.3398C64.586 22.2509 68.2186 24.5154 68.6253 26.7717C70.3434 26.2855 70.5767 25.3078 70.6014 25.4724C70.1096 18.7816 70.5656 9.35422 74.7588 9.18815C76.9391 9.10179 77.903 10.8487 78.0091 12.1527C78.309 15.8354 76.6289 21.936 74.4194 26.0385C73.1568 34.4095 79.9408 36.0644 81.0257 29.3827C79.2198 29.082 76.6533 25.2458 78.7189 23.2833C79.5442 22.4992 82.6977 24.5346 83.4359 26.8568C84.4615 26.8173 85.1 26.4636 85.2368 26.4279C83.5994 18.573 84.8184 9.14836 89.3291 9.06969C91.7671 9.02721 94.1506 10.3877 93.1044 17.8606C92.1058 24.9906 88.5161 27.9827 88.5245 28.0285C88.7333 28.8827 90.5753 36.0312 95.2138 32.2594C94.9737 31.7157 94.7333 31.1603 94.599 30.4874C93.8301 26.5677 95.3402 22.1404 99.4447 21.4249C101.796 21.0149 104.012 22.1598 104.362 24.741C104.938 28.9645 101.124 32.0233 99.6741 32.6868C99.0245 32.3178 105.562 36.5107 109.442 28.108C109.667 27.6282 109.938 27.6689 110.29 27.9162C110.538 28.0908 111.951 29.4299 111.294 30.5633ZM9.2921 28.2517C9.09468 27.6615 8.68955 26.361 8.54628 25.7976C7.75727 25.1114 7.1941 25 6.18134 25C3.93067 25 2.60596 27.0809 2.60596 29.3247C2.60596 31.5684 4.04913 33.6496 6.29982 33.6496C8.25029 33.6496 9.73478 32.3235 10.1877 30.4462C9.87068 29.7143 9.55621 29.0417 9.2921 28.2517ZM12.3197 12.2015C10.7382 12.2015 10.2018 15.974 10.3059 19.1924C10.398 22.0378 11.1931 24.5428 11.6055 25.6653C11.7102 25.8059 11.6908 25.7144 11.7843 25.8636C14.5302 19.8472 13.3913 12.2015 12.3197 12.2015ZM45.2512 12.32C43.2073 12.0855 43.2205 20.6001 43.4742 22.51C44.5358 20.8118 46.3798 12.7772 45.2512 12.32ZM60.1769 12.32C58.1329 12.0855 58.1461 20.6001 58.4 22.51C59.4615 20.8118 61.3056 12.7772 60.1769 12.32ZM74.9844 12.4384C72.9403 12.204 72.9535 20.7186 73.2073 22.6287C74.2688 20.9303 76.113 12.8956 74.9844 12.4384ZM89.5547 11.8215C86.3701 12.461 87.1116 23.0789 87.5953 24.9412C91.3465 19.789 91.4238 11.628 89.5547 11.8215ZM101.49 25.0903C101.328 24.4133 100.518 24.0515 99.9593 24.1407C98.3604 24.359 96.8095 26.3505 97.4098 29.3824C97.5435 30.0576 97.8779 30.6792 97.8724 30.6585C101.451 28.2577 101.755 26.3659 101.49 25.0903ZM34.0567 20.0218C33.5997 20.0219 33.153 19.8864 32.773 19.6326C32.3929 19.3787 32.0967 19.0179 31.9217 18.5957C31.7467 18.1735 31.701 17.7089 31.7901 17.2607C31.8792 16.8124 32.0993 16.4007 32.4224 16.0775C32.7455 15.7543 33.1572 15.5342 33.6054 15.4451C34.0537 15.3559 34.5183 15.4016 34.9405 15.5765C35.3628 15.7514 35.7236 16.0476 35.9775 16.4276C36.2314 16.8076 36.3669 17.2544 36.3669 17.7114C36.3669 18.0148 36.3072 18.3152 36.191 18.5955C36.075 18.8758 35.9049 19.1305 35.6903 19.345C35.4757 19.5596 35.2211 19.7298 34.9408 19.8459C34.6606 19.962 34.3602 20.0218 34.0567 20.0218Z"
                        fill="#ffffff80"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="relative flex-1 hidden w-0 lg:block">
      <div>
        <img
          class="absolute inset-0 object-cover w-full h-full"
          src="https://images.unsplash.com/photo-1542190891-2093d38760f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
