<section aria-labelledby="feature-five " class="bg-silverBg">
  <h2 class="sr-only" id="feature-five">Feature five</h2>
  <div
    class="items-center w-xl px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl py-12 lg:py-24">
    <div class="py-12">
      <div>
        <span class="text-white">Feature five</span>
        <h2
          class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display">
          More than 100 components, 50 sections, 3 landing pages prebuilt and
          more
        </h2>
        <p class="mt-4 font-light text-zinc-800 text-xl">
          Or for your next indie project, because your MVP doesn't need to look
          like crap.
        </p>
      </div>
    </div>
    <div class="items-center gap-12 text-left lg:gap-24 lg:inline-flex">
      <div
        class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
        <div class="mx-auto lg:max-w-7xl lg:p-0">
          <ul role="list" class="grid grid-cols-2 gap-4 list-none lg:gap-6">
            <li>
              <div>
                <p
                  class="text-lg font-medium leading-6 text-white font-display">
                  Developer experience
                </p>
              </div>
              <div class="mt-4 text-base text-zinc-900">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-lg font-medium leading-6 text-white font-display">
                  Designers go-to app
                </p>
              </div>
              <div class="mt-4 text-base text-zinc-900">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>

            <li>
              <div>
                <p
                  class="text-lg font-medium leading-6 text-white font-display">
                  Easy onboarding
                </p>
              </div>
              <div class="mt-4 text-base text-zinc-900">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-lg font-medium leading-6 text-white font-display">
                  Customer support
                </p>
              </div>
              <div class="mt-4 text-base text-zinc-900">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
          </ul>
          <div class="inline-flex flex-wrap items-center gap-3 mt-8 lg:gap-12">
            <div
              class="p-0.5 rounded-full bg-silverBg cursor-pointer shadow-thick hover:shadow-none transition duration-500 ease-in-out transform">
              <a
                href="/overview"
                type="a"
                class="inline-flex items-center w-full px-6 lg:px-12 py-4 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 lg:w-auto focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-blue-300 hover:text-sky-300">
                Explore all pages
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="order-first block w-full mt-12 aspect-square lg:mt-0">
        <img
          class="object-cover object-center w-full mx-auto rounded-2xl shadow-thick bg-silverBg border border-zinc-500 lg:ml-auto lg:-rotate-12"
          alt="hero"
          src="/images/placeholders/DoughnutChart.png"
        />
        <img
          class="object-cover hidden lg:block object-center lg:-mt-96 w-full mx-auto rounded-2xl shadow-thick bg-silverBg border border-zinc-500 lg:ml-auto lg:rotate-12"
          alt="hero"
          src="/images/placeholders/DoughnutChart.png"
        />
      </div>
    </div>
  </div>
</section>
