<section aria-labelledby="feature-Thirteen">
  <h2 class="sr-only" id="feature-Thirteen">Feature Thirteen</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="max-w-xl">
      <span class="text-white">Feature Thirteen</span>
      <h2
        class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto">
        Our offices around the world and beyond
      </h2>
      <p class="mt-5 font-light text-zinc-400 text-xl">
        Buio, has got you cover for any section you need
      </p>
    </div>
    <div class="pt-12">
      <div class="py-12 mx-auto lg:max-w-7xl">
        <h2 class="sr-only">
          This title is for accessibility only, make it descriptive, Jhonny
        </h2>
        <div>
          <div>
            <p class="font-light text-white text-xl font-display">Contact</p>
          </div>
          <dl
            class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:space-y-0 lg:gap-24 mt-12 pt-6 border-t border-zinc-700">
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                Shoots us an email
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>michael@lexingtonthemes.com</dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (234) 567-65432</dd>
                </div>
              </dl>
            </div>
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                Press
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>michael@lexingtonthemes.com</dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (234) 567-65432</dd>
                </div>
              </dl>
            </div>
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                Work with us
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>michael@lexingtonthemes.com</dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (234) 567-65432</dd>
                </div>
              </dl>
            </div>
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                Talk to sales
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>michael@lexingtonthemes.com</dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (234) 567-65432</dd>
                </div>
              </dl>
            </div>
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                Work with us
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>michael@lexingtonthemes.com</dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (234) 567-65432</dd>
                </div>
              </dl>
            </div>
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                Collaborarions
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>michael@lexingtonthemes.com</dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (234) 567-65432</dd>
                </div>
              </dl>
            </div>
          </dl>
          <div class="mt-24">
            <p class="font-light text-white text-xl font-display">
              Our offices
            </p>
          </div>
          <dl
            class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:space-y-0 lg:gap-24 mt-12 pt-6 border-t border-zinc-700">
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                Bilbao
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Address</dt>
                  <dd>
                    <span class="block">020, Jacinto Benavente</span>
                    <span class="block">Gorliz, Bilbao, Spain</span>
                  </dd>
                </div>
              </dl>
            </div>
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                Åland islands
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Address</dt>
                  <dd>
                    <span class="block">020, Thure</span>
                    <span class="block">Mariehamn, Åland, Finland</span>
                  </dd>
                </div>
              </dl>
            </div>
            <div>
              <p class="text-lg font-medium leading-6 text-white font-display">
                USA
              </p>
              <dl class="mt-2 text-base text-zinc-400">
                <div>
                  <dt class="sr-only">Address</dt>
                  <dd>
                    <span class="block">020, Captain Smith</span>
                    <span class="block">Boston, Massachusetts, USA</span>
                  </dd>
                </div>
              </dl>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
