<header aria-labelledby="testimonial-three " class="overflow-hidden relative">
  <h2 class="sr-only" id="testimonial-three">Testimonial Three</h2>
  <div
    class="items-center w-xl px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div class="lg:text-center max-w-xl lg:mx-auto">
      <span class="text-white">Testimonial Three</span>
      <h2
        class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center"
      >
        We keep making peoples life better
      </h2>
      <p class="mt-5 font-light text-zinc-400 text-xl">
        Thousands of people have deployed buio. and doubled conversions in less
        than a week.
      </p>
    </div>
  </div>
  <div class="relative mx-auto sm:static mt-12 2xl:max-w-7xl">
    <div
      class="items-center space-x-6 pb-12 lg:pb-0 lg:space-x-8 overflow-y-hidden relative px-4 mx-auto grid grid-cols-1 lg:grid-cols-3"
    >
      <div
        class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8 lg:animate-scroller"
        style="--marquee-duration"
      >
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Volkan Kaya
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="">Founder of Versoly</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8">
                <p class="text-base text-zinc-400">
                  buio. leveraged his previous experience to build out a few
                  landing pages very quickly for Versoly
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Volkan Kaya
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="">Founder of Versoly</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8">
                <p class="text-base text-zinc-400">
                  buio. leveraged his previous experience to build out a few
                  landing pages very quickly for Versoly
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    buio. Jones
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">Blogger at Raspada</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  I have had the absolute pleasure of working with buio. in the
                  past when building my blog Raspada. company.
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
      </div>
      <div
        class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8 lg:animate-scroller3"
        style="--marquee-duration"
      >
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Volkan Kaya
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="">Founder of Versoly</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8">
                <p class="text-base text-zinc-400">
                  buio. leveraged his previous experience to build out a few
                  landing pages very quickly for Versoly
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Volkan Kaya
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="">Founder of Versoly</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8">
                <p class="text-base text-zinc-400">
                  buio. leveraged his previous experience to build out a few
                  landing pages very quickly for Versoly
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    buio. Jones
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">Blogger at Raspada</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  I have had the absolute pleasure of working with buio. in the
                  past when building my blog Raspada. company.
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
      </div>
      <div
        class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8 lg:animate-scroller2"
        style="--marquee-duration"
      >
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Volkan Kaya
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="">Founder of Versoly</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8">
                <p class="text-base text-zinc-400">
                  buio. leveraged his previous experience to build out a few
                  landing pages very quickly for Versoly
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Volkan Kaya
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="">Founder of Versoly</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8">
                <p class="text-base text-zinc-400">
                  buio. leveraged his previous experience to build out a few
                  landing pages very quickly for Versoly
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    buio. Jones
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">Blogger at Raspada</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  I have had the absolute pleasure of working with buio. in the
                  past when building my blog Raspada. company.
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
        <div
          class="rounded-xl shadow-superThick sm:opacity-0 lg:opacity-100 p-4 bg-dark lg:p-8 border border-zinc-700 hidden lg:block"
        >
          <figure>
            <div class="h-full group">
              <figcaption class="relative flex items-center">
                <div>
                  <div
                    class="text-lg font-medium leading-6 text-white font-display"
                  >
                    Amrit Nagi
                  </div>
                  <div class="mt-1">
                    <a
                      class="text-xs text-zinc-300 group-hover:text-sky-300"
                      href="#">CEO of Tailwind Toolbox</a
                    >
                  </div>
                </div>
              </figcaption>
              <blockquote class="relative mt-8 space-y-3">
                <p class="text-base text-zinc-400">
                  It's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                </p>
              </blockquote>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</header>
