<section aria-labelledby="testimonials-one">
  <h2 class="sr-only" id="feature-one">Testimonials one</h2>
  <div
    class="px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <ul
      role="list"
      class="grid grid-cols-1 gap-6 lg:grid-cols-4 lg:space-y-0 mt-12">
      <li>
        <figure>
          <div class="h-full group">
            <figcaption class="relative flex items-center gap-4 pb-6">
              <div class="overflow-hidden lg:p-2">
                <img
                  alt="amrit"
                  src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                  width="56"
                  height="56"
                  decoding="async"
                  data-mining="future"
                  class="object-cover rounded-full h-14 w-14 grayscale"
                  loading="lazy"
                />
              </div>
              <div>
                <div
                  class="text-lg font-medium leading-6 text-white font-display">
                  Amrit Nagi
                </div>
                <div class="mt-1">
                  <a
                    class="text-sm text-zinc-400 group-hover:text-sky-300"
                    href="#">CEO of Tailwind Toolbox</a
                  >
                </div>
              </div>
            </figcaption>
            <blockquote class="relative mt-2 space-y-3">
              <p class="text-base text-zinc-400">
                It's amazing just how quickly the quality and variety of his
                work has developed and evolved!
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption class="relative flex items-center gap-4 pb-6">
            <div class="overflow-hidden lg:p-2">
              <img
                alt="codeboje"
                src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                width="56"
                height="56"
                decoding="async"
                data-mining="future"
                class="object-cover rounded-full h-14 w-14 grayscale"
                loading="lazy"
              />
            </div>
            <div>
              <div
                class="text-lg font-medium leading-6 text-white font-display">
                Gabriel Perales
              </div>
              <div class="mt-1">
                <a
                  class="text-sm text-zinc-400 group-hover:text-sky-300"
                  href="#">Engineer at Cabify</a
                >
              </div>
            </div>
          </figcaption>
          <blockquote class="relative mt-2">
            <p class="text-base text-zinc-400">
              Mike has helped me with many designs, and I couldn't follow his
              working speed when we worked together.
            </p>
          </blockquote>
        </figure>
      </li>

      <li>
        <figure>
          <div class="h-full group">
            <figcaption class="relative flex items-center gap-4 pb-6">
              <div class="overflow-hidden lg:p-2">
                <img
                  alt=""
                  src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                  width="56"
                  height="56"
                  decoding="async"
                  data-mining="future"
                  class="object-cover rounded-full h-14 w-14 grayscale"
                  loading="lazy"
                />
              </div>
              <div>
                <div
                  class="text-lg font-medium leading-6 text-white font-display">
                  Volkan Kaya
                </div>
                <div class="mt-1">
                  <a
                    class="text-sm text-zinc-400 group-hover:text-sky-300"
                    href="#">Founder of Versoly.com</a
                  >
                </div>
              </div>
            </figcaption>
            <blockquote class="relative mt-2">
              <p class="text-base text-zinc-400">
                Mike leveraged his previous experience to build out a few
                landing pages very quickly for Versoly
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
      <li>
        <figure>
          <div class="h-full group">
            <figcaption class="relative flex items-center gap-4 pb-6">
              <div class="overflow-hidden lg:p-2">
                <img
                  alt="gustavo"
                  src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                  width="56"
                  height="56"
                  decoding="async"
                  data-mining="future"
                  class="object-cover rounded-full h-14 w-14 grayscale"
                  loading="lazy"
                />
              </div>
              <div>
                <div
                  class="text-lg font-medium leading-6 text-white font-display">
                  Mike Jones
                </div>
                <div class="mt-1">
                  <a
                    class="text-sm text-zinc-400 group-hover:text-sky-300"
                    href="#">Blogger at Raspada</a
                  >
                </div>
              </div>
            </figcaption>
            <blockquote class="relative mt-2 space-y-3">
              <p class="text-base text-zinc-400">
                I have had the absolute pleasure of working with Mike in the
                past when building my blog Raspada. company.
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
    </ul>
  </div>
</section>
