<section aria-labelledby="Blog-header-one">
  <h2 class="sr-only" id="Blog-header-one">Blogmheader one</h2>
  <div
    class="items-center px-8 mt-12 lg:mt-24 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="lg:mx-auto lg:text-center py-24">
      <div>
        <p
          class="text-4xl font-black tracking-tight text-white uppercase italic lg:text-6xl font-display">
          <span class="text-transparent bg-clip-text bg-rainbowBg px-2">
            UX Ideation 101:</span
          > Tips & tools for laying the right design foundations
        </p>
        <div
          class="lg:inline-flex items-start justify-between w-full mx-auto max-w-[40rem] py-6 border-zinc-700 border-y mt-6">
          <div class="text-left space-y-3">
            <p class="text-zinc-400 text-lg">By Jasmine Bilham</p>
            <span class="space-x-1 text-zinc-400 text-xs">
              <time datetime="2023-03-16">March 16, 2023</time>
              <span>∙</span>
              <span class="ml-3">5min read</span>
            </span>
          </div>
          <div class="flex flex-col space-y-3 text-left mt-3 lg:mt-0">
            <p class="text-zinc-400 text-xs">Share:</p>
            <span class="isolate inline-flex rounded-2xl">
              <a
                href="#"
                type="button"
                class="relative transition duration-500 ease-in-out transform inline-flex items-center rounded-l-full border border-zinc-700 bg-dark px-4 py-2 text-xs font-light text-white hover:bg-metal focus:z-10 focus:border-sky-300 focus:outline-none focus:ring-1 focus:ring-sky-300"
                >Linkedin</a
              >
              <a
                href="#"
                type="button"
                class="relative transition duration-500 ease-in-out transform -ml-px inline-flex items-center border border-zinc-700 dark px-4 py-2 text-xs font-light text-white hover:bg-metal focus:z-10 focus:border-sky-300 focus:outline-none focus:ring-1 focus:ring-sky-300">
                Twitter
              </a>
              <a
                href="#"
                type="button"
                class="relative transition duration-500 ease-in-out transform -ml-px inline-flex items-center rounded-r-full border border-zinc-700 dark px-4 py-2 text-xs font-light text-white hover:bg-metal focus:z-10 focus:border-sky-300 focus:outline-none focus:ring-1 focus:ring-sky-300"
                >Facebook</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <h2 class="sr-only" id="blog-post-one">Blog post one</h2>
    <main class="py-6">
      <div class="relative px-8 sm:px-6 lg:px-8">
        <div
          class="mx-auto max-w-[40rem] prose-xl prose text-zinc-400 prose-h3:text-white prose-a:font-semibold prose-a:text-sky-300 hover:prose-a:text-white prose-blockquote:text-zinc-300 prose-blockquote:text-base">
          <p>
            This article was written by Jasmine Bilham, freelance content writer
            and product designer who writes for Raw.Studio, UX Design Agency.
            Header illustration by ls.graphics.
          </p>

          <p>
            Every brilliant design starts with an amazing idea, as well as
            hundreds of not-so-amazing ones. To the user’s eye, these rejected
            concepts aren’t at all visible, however, their experience would be
            nowhere near as delightful if mistakes, iterations, and learnings
            didn’t happen during the design process.
          </p>
          <blockquote>
            “Ideation is the mode of the design process in which you concentrate
            on idea generation. Mentally, it represents a process of “going
            wide” in terms of concepts and outcomes. Ideation provides both the
            fuel and also the source material for building prototypes and
            getting innovative solutions into the hands of your users.” —
            d.school, An Introduction to Design Thinking PROCESS GUIDE
          </blockquote>
        </div>
      </div>
    </main>
  </section>
  <section>
    <div
      class="mx-auto lg:flex px-8 my-12 lg:my-32 md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-3">
        <div>
          <div
            class="px-4 overflow-hidden rounded-2xl bg-dark border border-zinc-700 pt-6">
            <img
              class="rounded-t-xl shadow-thick"
              src="/images/placeholders/one.png"
              alt="#"
            />
          </div>
        </div><div>
          <div
            class="px-4 overflow-hidden rounded-2xl bg-dark border border-zinc-700 pt-6">
            <img
              class="rounded-t-xl shadow-thick"
              src="/images/placeholders/two.png"
              alt="#"
            />
          </div>
        </div><div>
          <div
            class="px-4 overflow-hidden rounded-2xl bg-dark border border-zinc-700 pt-6">
            <img
              class="rounded-t-xl shadow-thick"
              src="/images/placeholders/three.png"
              alt="#"
            />
          </div>
        </div><div>
          <div
            class="px-4 overflow-hidden rounded-2xl bg-dark border border-zinc-700 pt-6">
            <img
              class="rounded-t-xl shadow-thick"
              src="/images/placeholders/four.png"
              alt="#"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="sr-only" id="blog-post-one">Blog post one</h2>
    <main class="py-6">
      <div class="relative px-8 sm:px-6 lg:px-8">
        <div
          class="mx-auto max-w-[40rem] prose-xl prose text-zinc-400 prose-h3:text-white prose-a:font-semibold prose-a:text-sky-300 hover:prose-a:text-white prose-blockquote:text-zinc-300 prose-blockquote:text-base">
          <h3>Why ideation is so important</h3>
          <p>
            Whether doing so intentionally or not, we go through a multitude of
            ideation processes daily. What takeaway should we get? What train
            should I catch? What should we do on the weekend?
          </p>
          <h3>1. Challenge your assumptions and biases</h3>
          <p>
            Every brilliant design starts with an amazing idea, as well as
            hundreds of not-so-amazing ones. To the user’s eye, these rejected
            concepts aren’t at all visible, however, their experience would be
            nowhere near as delightful if mistakes, iterations, and learnings
            didn’t happen during the design process.
          </p>
          <h3>List your assumptions</h3>
          <ul>
            <li>The user needs X feature</li>
            <li>
              It will be impossible to implement X feature in the given
              timeframe and budget
            </li>
            <li>A particular design layout or flow is the only way to go</li>
            <li>This new approach will increase conversion rate</li>
          </ul>
        </div>
      </div>
    </main>
  </section>
  <section>
    <div class="mx-auto px-8 my-12 md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
      <div>
        <img
          class="shadow-thick rounded-2xl lg:rounded-5xl"
          src="/images/placeholders/screenshot.png"
          alt="#"
          width={1600}
          height={1200}
        />
      </div>
    </div>
  </section>
  <section>
    <h2 class="sr-only" id="blog-post-one">Blog post one</h2>
    <main class="py-6">
      <div class="relative px-8 sm:px-6 lg:px-8">
        <div
          class="mx-auto max-w-[40rem] prose-xl prose text-zinc-400 prose-h3:text-white prose-a:font-semibold prose-a:text-sky-300 hover:prose-a:text-white prose-blockquote:text-zinc-300 prose-blockquote:text-base">
          <h3>Why ideation is so important</h3>
          <p>
            Whether doing so intentionally or not, we go through a multitude of
            ideation processes daily. What takeaway should we get? What train
            should I catch? What should we do on the weekend?
          </p>
          <h3>1. Challenge your assumptions and biases</h3>
          <p>
            Every brilliant design starts with an amazing idea, as well as
            hundreds of not-so-amazing ones. To the user’s eye, these rejected
            concepts aren’t at all visible, however, their experience would be
            nowhere near as delightful if mistakes, iterations, and learnings
            didn’t happen during the design process.
          </p>
          <h3>List your assumptions</h3>
          <ul>
            <li>The user needs X feature</li>
            <li>
              It will be impossible to implement X feature in the given
              timeframe and budget
            </li>
            <li>A particular design layout or flow is the only way to go</li>
            <li>This new approach will increase conversion rate</li>
          </ul>
        </div>
      </div>
    </main>
  </section>
</section>
