<section aria-labelledby="carrier-one">
  <h2 class="sr-only" id="carrier-one">Feature one</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="lg:text-center max-w-xl lg:mx-auto">
      <h2
        class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center">
        We are bringing magic back to software
      </h2>
      <div class="inline-flex flex-wrap items-center gap-3 mt-8 lg:gap-12">
        <div
          class="p-0.5 rounded-full bg-silverBg cursor-pointer shadow-thick hover:shadow-none transition duration-500 ease-in-out transform">
          <a
            href="/carriers-offers"
            type="a"
            class="inline-flex items-center w-full px-6 lg:px-12 py-4 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 lg:w-auto focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-blue-300 hover:text-[#FFA9A4]">
            See open positions
          </a>
        </div>
      </div>
    </div>
    <div class="relative px-8 sm:px-6 lg:px-8 mt-12">
      <div
        class="mx-auto max-w-[40rem] prose-sm prose text-zinc-400 prose-h3:text-white prose-a:font-semibold prose-a:text-sky-300 hover:prose-a:text-white">
        <h3>Bif has lost its magic. We want your help to bring it back.</h3>
        <p>
          Remember when Bip still felt magical? Good Bip used to be an
          experience. It used to radically change how we lived and worked. It
          made us feel like we lived in the future.
        </p>
        <p>
          CSS grid Ruby tabs vs spaces virtual DOM production TOML SOAP object
          library antipattern optimize. Stand-up CLI markup Babel reactive
          behavior-driven Backbone.js diversity and inclusion concurrency.
          Resolve budget compression imperative-mood tl;dr cherry pick.
          Whiteboard inheritance time-to-interactive CSV scrum master JavaScript
          .NET CSS grid bitwise operator OOP.
        </p>
        <p>
          The magic of software got lost along the way. At Linear, we are on a
          quest to bring it back.
        </p>
        <p>
          Parameter compile tabs vs spaces circle back production SRE. Big O
          flexbox const little Bobby Tables public JQuery graph UX class
          architecture. Graph looks good to me cherry pick free as in beer
          composition compiler. Asynchronous view-model promise internet button
          module injection websockets tabs vs spaces. Senior-engineer +1 tabs vs
          spaces Byzantine fault tolerance Ruby security.
        </p>
        <p>
          We are looking for talented people who share our passion for crafting
          exceptional software products. That person might be you.
        </p>
        <p>Join us and let's bring back the magic of software.</p>
        <hr class="border-t-zinc-700" />
        <a href="">See open posititons &nbsp; &rarr;</a>
      </div>
    </div>
  </div>
</section>
