<section aria-labelledby="carrier-one">
  <h2 class="sr-only" id="carrier-one">Feature one</h2>
  <div
    class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="text-center max-w-xl mx-auto">
      <h2
        class="text-xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center">
        Help us bring software magic back if so.
      </h2>
      <p class="mt-5 font-light text-zinc-400 group-hover:text-white text-xl">
        If you believe in our mission of building exceptional software for the
        next-generation of companies, we’d love to talk to you.
      </p>
    </div>
    <div
      class="divide-y divide-zinc-600 max-w-3xl mx-auto border-y border-zinc-600 mt-12">
      <div class="py-16 grid grid-cols-1 sm:grid-cols-2 justify-between">
        <div>
          <p
            class="text-xs font-semibold leading-6 text-zinc-400 group-hover:text-white">
            Flabber Studios
          </p>
          <p class="text-[0.9375rem] font-semibold leading-6 text-white">
            Rectangle Maker
          </p>
          <p
            class="flex items-center text-xs leading-6 text-zinc-400 group-hover:text-white">
            Some days - $12 - $18
          </p>
          <p
            class="flex items-center text-xs leading-6 text-zinc-400 group-hover:text-white">
            Remote
          </p>
        </div>
        <div class="sm:ml-auto">
          <div
            class="flex items-start flex-col text-xs leading-6 text-zinc-400 group-hover:text-white">
            <span class="isolate inline-flex rounded-2xl mt-3">
              <a
                href="/carrier-application"
                type="button"
                class="relative transition duration-500 ease-in-out transform inline-flex items-center rounded-l-full border border-zinc-700 bg-dark px-4 py-2 text-xs font-light text-white hover:bg-metal focus:z-10 focus:border-sky-300 focus:outline-none focus:ring-1 focus:ring-sky-300"
                >Apply</a
              >
              <a
                href="#"
                type="button"
                class="relative transition duration-500 ease-in-out transform -ml-px inline-flex items-center rounded-r-full border border-zinc-700 dark px-4 py-2 text-xs font-light text-white hover:bg-metal focus:z-10 focus:border-sky-300 focus:outline-none focus:ring-1 focus:ring-sky-300"
                >Read job post</a
              >
            </span>
          </div>
        </div>
      </div>
      <div
        class="py-16 grid grid-cols-1 sm:grid-cols-2 mx-auto justify-between">
        <div>
          <p
            class="text-xs font-semibold leading-6 text-zinc-400 group-hover:text-white">
            Unwrapped Design AB
          </p>
          <p class="text-[0.9375rem] font-semibold leading-6 text-white">
            Chart Designer
          </p>
          <p
            class="flex items-center text-xs leading-6 text-zinc-400 group-hover:text-white">
            Full-time or Contract - $440,000 - $680,000
          </p>
          <p
            class="flex items-center text-xs leading-6 text-zinc-400 group-hover:text-white">
            Mariehamn / Åland Islands, FI
          </p>
        </div>
        <div class="sm:ml-auto">
          <div
            class="flex items-start flex-col text-xs leading-6 text-zinc-400 group-hover:text-white">
            <span class="isolate inline-flex rounded-2xl mt-3">
              <a
                href="/carrier-application"
                type="button"
                class="relative transition duration-500 ease-in-out transform inline-flex items-center rounded-l-full border border-zinc-700 bg-dark px-4 py-2 text-xs font-light text-white hover:bg-metal focus:z-10 focus:border-sky-300 focus:outline-none focus:ring-1 focus:ring-sky-300"
                >Apply</a
              >
              <a
                href="#"
                type="button"
                class="relative transition duration-500 ease-in-out transform -ml-px inline-flex items-center rounded-r-full border border-zinc-700 dark px-4 py-2 text-xs font-light text-white hover:bg-metal focus:z-10 focus:border-sky-300 focus:outline-none focus:ring-1 focus:ring-sky-300"
                >Read job post</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
