<section aria-labelledby="feature-five ">
  <h2 class="sr-only" id="feature-five">Feature five</h2>
  <div
    class="items-center w-xl px-8 my-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div class="lg:text-center max-w-xl lg:mx-auto">
      <span class="text-white">Stats One</span>
      <h2
        class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center"
      >
        Leading charts for modern teams
      </h2>
      <p class="mt-5 font-light text-zinc-400 text-xl">
        Craft your websites with buio., swap sections, change colors, use
        different buttons.
      </p>
    </div>
    <div class="mt-10 pb-12 sm:pb-16">
      <div class="p-8 bg-metal rounded-3xl">
        <dl
          class="rounded-2xl bg-metal shadow-superThick sm:grid sm:grid-cols-4 border border-zinc-700"
        >
          <div class="flex flex-col p-6 text-center sm:border-0">
            <dt
              class="order-2 mt-2 text-lg font-medium leading-6 text-zinc-400"
            >
              Sections
            </dt>
            <dd class="order-1 text-2xl font-bold text-white font-display">
              60+
            </dd>
          </div>
          <div class="flex flex-col p-6 text-center">
            <dt
              class="order-2 mt-2 text-lg font-medium leading-6 text-zinc-400"
            >
              Components
            </dt>
            <dd class="order-1 text-2xl font-bold text-white font-display">
              100+
            </dd>
          </div>
          <div class="flex flex-col p-6 text-center">
            <dt
              class="order-2 mt-2 text-lg font-medium leading-6 text-zinc-400"
            >
              Prebuilt pages
            </dt>
            <dd class="order-1 text-2xl font-bold text-white font-display">
              30+
            </dd>
          </div>
          <div class="flex flex-col p-6 text-center">
            <dt
              class="order-2 mt-2 text-lg font-medium leading-6 text-zinc-400"
            >
              Integrations
            </dt>
            <dd class="order-1 text-2xl font-bold text-white font-display">
              5
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
